baseURL='https://intellygo.com/'
languageCode='en-us'
title='IntellyGo'
theme ='ananke'

[params]
  description = "SaaS & HRIS Specialist | Laravel & PHP Expert | System Design Enthusiast"
  author = "Hafijur Rahman"
  github = "devghor"
  linkedin = "hafijur-rahaman"

[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Blog"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "About"
  url = "/about/"
  weight = 3
